.app-container {
  border: 1px solid green;
  height: 100vh;
}

.series-input-container {
  display: flex;
}

.curr-series-list-container {
  border: 1px solid red;
  display: flex;
}

.series-container {
  border: 1px solid blue;
  height: 200px;
  width: 150px;
}
